@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
  --swiper-theme-color: white;
}

.Toastify__toast {
  min-height: 40px;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  width: 280px;
}
